# Facebook app settings
SOCIAL_AUTH_FACEBOOK_KEY=1234567890
SOCIAL_AUTH_FACEBOOK_SECRET=1q2w3e4r5t6y7u8i9o0p
# Twitter app settings
SOCIAL_AUTH_TWITTER_KEY=1q2w3e4r5t6y7u8i9o0p
SOCIAL_AUTH_TWITTER_SECRET=1q2w3e4r5t6y7u8i9o0p
# OAUTH2 settings
OAUTH2_REDIRECT_URI=http://localhost:8000/callback/
# Landing page
SEMITKI_LANDING=http://localhost:9080/#landing
 FACEBOOK_URL_CAPTION=http://semitki
# New relic
NEW_RELIC_CONFIG_FILE=/semitki/config/newrelic.ini
# Environment
SEMITKI_ENV = "development"
