<script type="text/x-handlebars-template" id="accounts">

{{> navigation }}

 <div class="container">
     <h2> Accounts/Groups </h2>     
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Grupo:</label>
            <div class="col-sm-4">
            <input type="Nombre" class="form-control" id="namegroup" placeholder="Name">
            </div>
    </div>

</form>
     
<div class="row">
<div class="col-md-4">
<div class="panel panel-primary">
<div class="panel-heading"> Available </div>
        <div class="row table table-lg table-bordered">
        <div class="col-md-3">Account</div>
        <div class="col-md-3"></div>
        </div>
        <div class="row">
        <div class="col-md-3">Account</div>
        <div class="col-md-3">

        </div>

        </div>

</div>
</div>
<div class="col-md-1"> 
<button type="button" class="btn btn-info btn-xs">Add  </button>   
<button type="button" class="btn btn-info btn-xs">Delete</button>
</div>
<div class="col-md-4">
<div class="panel panel-primary">
<div class="panel-heading"> Added Accounts </div>
<div class="row table table-lg table-bordered">
<div class="col-md-3">Account</div>
<div class="col-md-3"></div>
</div>
<div class="row">
<div class="col-md-3">Red</div>
<div class="col-md-3">

</div>

</div>

</div>
<button type="button" class="btn btn-info btn-md">
Save
</button>
</div>
</div>

</div>

</script>
