<script type="text/x-handlebars-template" id="accountinfo">

<div class="container" >
  <h1 class="page-header">Edit Account Info</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="" class="avatar img-circle img-thumbnail" alt="">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

      <h3>Account Info</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Name:</label>
          <div class="col-lg-8">
            <input id="name" class="form-control"  type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">First Name:</label>
          <div class="col-lg-8">
            <input id="fname" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Company:</label>
          <div class="col-lg-8">
            <input id="company" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input id="email" class="form-control" type="text">
          </div>
        </div>
          
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input id="user" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input id="pass" class="form-control" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input id="cpass" class="form-control" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
              <button type="button" id="save"
      class="btn btn-primary">Save</button>
      <button type="reset" id="delete"
      class="btn btn-danger">Delete</button>
    </div>
<!--            <input id="save" class="btn btn-primary" type="button">
            <span></span>
            <input id="reset" class="btn btn-default" type="reset">-->
          </div>
     </form>
    </div>
  </div>
</div>

</script>