<script type="text/x-handlebars-template" id="addpost-template">

<div id="messages"></div>
<div><button id="closeadd" type="button" class="close" aria-label="Close">
<span aria-hidden="true">&times;</span></button></div>
<form id="addpost-form" class="addpost-form">
  <p class="form-signin-heading">Post from:<p>
  <img src="..." alt="..." class="img-rounded" style="width: 70px;">
  <hr />
  <div class="form-group">
    <textarea class="form-control" rows="4" placeholder="Post text"></textarea>
  </div>
  <div class="btn-group">
    <button class="btn btn-default" type="button"
    id="addImg">Add image</button>
  </div>
  <div class="btn-group dropup pull-right">
    <button type="button" class="btn btn-info"
    id="publish-btn">Publish now</button>
    <button class="btn btn-info dropdown-toggle" type="button"
    data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false"><span class="caret"></span>
    <span class="sr-only">Toggle dropdown</span></button>
    <ul class="dropdown-menu" aria-labeledby="publish-btn">
      <li><a href="#">Schedule</li>
      <li><a href="#">Publish now</li>
    </ul>
  </div>
</form>

</script>
