<script type="text/x-handlebars-template" id="addpost-template">

<div id="messages"></div>
<form id="addpost-form" class="addpost-form">
  <p class="form-signin-heading">Post from:<p>
  <img src="..." alt="..." class="img-rounded" style="width: 70px;">
  <hr />
  <textarea class="form-control" rows="4"></textarea>
  <div class="checkbox">
    <label for="remember">
      <input type="checkbox" id="remember" name="remember"> Remember me
    </label>
  </div>
</form>

</script>
