<script type="text/x-handlebars-template" id="addpost-template">

<div id="messages"></div>
<div><button id="closeadd" type="button" class="close" aria-label="Close">
<span aria-hidden="true">&times;</span></button></div>
<form id="addpost-form" class="addpost-form">
  <p class="form-signin-heading">Post from:&nbsp;{{username}}<p>
  <!-- img src="..." alt="..." class="img-rounded" style="width: 70px;" -->

  <div class="form-group" id="campaignSelector">
    <label for="campaignSelectorBox">Campaign</label>
    <select id="campaignSelectorBox" style="width:100%;"></select>
  </div>
  <div class="form-group" id="phaseSelector">
    <label for="phaseSelectorBox">Phase</label>
    <select id="phaseSelectorBox" style="width:100%;" disabled></select>
  </div>

  <div class="form-group">
    <textarea class="form-control" rows="4" id="postxt"
    placeholder="Post text"></textarea>
  </div>
  <div class="form-inline">
    <div class="btn-group">
      <button class="btn btn-default" type="button"
      id="addImg">Add image</button>
    </div>
    <!-- div class="center-block" -->
      <div class="checkbox">
        <label><input type="checkbox" id="like" value="like">&lt;3</label>
      </div>
      <div class="form-group">
        <select id="lkgroups" multiple="multiple" style="width:100%;"></select>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id="rs" value="rs">RS</label>
      </div>
      <div class="form-group">
        <select id="rsgroups" multiple="multiple" style="width:100%;"></select>
      </div>
    <!-- /div -->
    <div class="btn-group dropup pull-right">
      <button type="button" class="btn btn-info"
      id="publish-btn">Schedule</button>
      <button class="btn btn-info dropdown-toggle" type="button"
      data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false"><span class="caret"></span>
      <span class="sr-only">Toggle dropdown</span></button>
      <ul class="dropdown-menu dropdown-info" aria-labeledby="publish-btn">
        <li><a href="#" id="schedule-enable" class="btn btn-info"
           role="button">Schedule</a></li>
        <li><a href="#" id="publish-enable" class="btn btn-info"
          role="button">Publish now</a></li>
      </ul>
    </div>
  </div>
</form>

</script>
