<script type="text/x-handlebars-template" id="base-template">

  <div class="modal fade" tabindex="-1" role="dialog" id="dialog-crud"></div>
  <nav class="navbar navbar-fixed-top nav semitkibar" id="app-nav"></nav>
  <div id="wrapper">
    <div id="sidebar-wrapper"></div>
    <!-- div class="container xyz" id="page-content-wrapper" -->
      <div id="main"></div>
    <!-- /div -->
  </div>
  <footer id="app-footer"></footer>

</script>
