<script type="text/x-handlebars-template" id="calendar-modal-template">

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    </button>
    <h3>Scheduled posts</h3>
  </div>
  <div class="modal-body" style="height: 400px;"></div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn" role="button">Close</a>
  </div>
</div>

</script>
