<script type="text/x-handlebars-template" id="campaigndetail-template">

{{> navigation }}

  <div class="col-md-10">
		<form class="form-horizontal">
      <fieldset>

        <legend>Campaigns</legend>

        <div class="form-group">
          <div class="col-md-4"></div>
          <div class="col-md-6">
            <select class="form-control" id="campaignFinder">
            {{#each campaigns}}
              <option value="{{id}}">{{name}}</option>
            {{/each}}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Name</label>
          <div class="col-md-6">
            <input id="name" name="name" type="text" placeholder="Campaigns"
            class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="description">Description</label>
          <div class="col-md-6">
            <input id="description" name="description" type="text"
            placeholder="Description" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="Save"></label>
          <div class="col-md-8">
            <button id="save" type="button" name="save"
            class="btn btn-primary">Save</button>
            <button type="button" id="delete" name="delete"
            class="btn btn-danger">Delete</button>
          </div>
        </div>

      </fieldset>
    </form>

  </div>

</script>
