<script type="text/x-handlebars-template" id="contact">

{{> navigation }}

<div class="container">
<form  class="form-horizontal">
 <fieldset>

  <legend>Contact Us</legend>
               
    <div class="form-group">
    <label class="col-md-4 control-label" for="contactName">Name</label>
    <div class="col-md-6">
    <input id="contactName" type="text" placeholder="Contact Name" 
    class="form-control input-md" >
    </div>    
    </div>
        <div class="form-group">
        <label class="col-md-4 control-label" for="contactEmail">Email</label>
        <div class="col-md-6">
        <input id="contactEmail" type="email" placeholder="@example.com" 
        class="form-control input-md">
        </div>
        </div>
            <div class="form-group ">
            <label class="col-md-4 control-label" for="contactMessages">Your Message</label>
            <div class="col-md-6">
            <textarea  class="form-control input-md" placeholder="Message"></textarea> 
            </div>
            </div>  
                    
     <!-- Button -->
<div class="form-group">
<label class="col-md-4 control-label" for="sendMes"></label>
<div class="col-md-8">
<button id="sendMes" name="sendMes" class="btn btn-primary">Send Message</button>
</div>
</div>                   


 </fieldset>
</form>
</div>
</script>