<script type="text/x-handlebars-template" id="dashboard">

<div class="btn-group" role="group" aria-label="menu">
    <button type="button" class="btn btn-default btn-lg">Semitki</button>
    <!-- Split Scheduler -->
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expandable="false">Scheduler
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Instagram</a></li>
      </ul>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Analyze
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Word Cloud</a></li>
        <li><a href="#">Mentions</a></li>
        <li><a href="#">Trendings</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Sentiment</a></li>
      </ul>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scout
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Activity</a></li>
        <li><a href="#">Topics</a></li>
        <li><a href="#">Tags</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Sentiment</a></li>
        <li><a href="#">QueryInfo</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Premium
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">WhatsApp</a></li>
        <li><a href="#">Telegram</a></li>
        <li><a href="#">FB Mesennger</a></li>
        <li><a href="#">Direct Messages</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">AllTogether</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Account Info</a></li>
        <li><a href="#">Securityn</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Mobile Settings</a></li>
      </ul>
    </div>

</script>
