<script type="text/x-handlebars-template" id="footer-template">

<div class="container">
  <div class="col-sm-2"><p>Copyright &copy; 2017 Semitki</p></div>
  <div class="col-sm-8">
     {{#each pages}}
    <a href="{{title}}" class="btn btn-link" role="button"
      id="{{title}}-link">{{title}}</a>
    {{/each}}
  </div>
  <div class="col-sm-2"><p>Copyright &copy; 2017 Semitki</p></div>
</div>

</script>
