<script type="text/x-handlebars-template" id="footer-template">

  <div>Copyright &copy; 2017 Semitki</div>
  <div>
  oaoaoaoa
    {{#each pages}}
    <a href="{{title}}" class="btn btn-link" role="button"
      id="{{title}}-link">{{title}}</a>
    {{/each}}
  <div>
  <div></div>

</script>
