<script type="text/x-handlebars-template" id="footer-template">

<div class="container">
  <div class="col-sm-2"><p>Copyright &copy; 2017 Semitki</p></div>
  <div class="col-sm-8">
     {{#each pages}}
    <a href="{{title}}" class="btn btn-link" role="button"
      id="{{title}}-link">{{title}}</a>
    {{/each}}
    <a href="" class="btn btn-link" role="button"
      id="link">A sample link</a>
    <a href="" class="btn btn-link" role="button"
      id="link">Another place</a>
    <a href="" class="btn btn-link" role="button"
      id="link">Yay!</a>
  </div>
  <div class="col-sm-2"><p>Copyright &copy; 2017 Semitki</p></div>
</div>

</script>
