<script type="text/x-handlebars-template" id="footer-template">

  <div class="col-md-12">
    {{#each pages}}
    <a href="{{title}}" class="btn btn-link" role="button"
      id="{{title}}-link">{{title}}</a>
    {{/each}}
  <div>

</body>
</html>

</script>
