<script type="text/x-handlebars-template" id="footer-template">

<div class="container">
  <div clas="row"><div class="col-sm-12">
    <h6>Copyright &copy; 2017 Semitki</h6>
  </div></div>
</div>

</script>
