<script type="text/x-handlebars-template" id="groupped-account">

  <div class="container">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-4 col-md-offset-9">
          <button type="button" id="save" class="btn btn-primary">New</button>
          <button type="button" id="edit" class="btn btn-primary">Edit</button>
          <button type="button" id="delete" class="btn btn-danger">Delete</button>
        </div>
      </div>
      <div class="form-group">  
        <div class="col-md-6 col-md-offset-3"> 
          <label for="groups">Groups</label>
          <select class="form-control" id="groups">
            {{#each groups}}
            <option value="{{id}}">{{name}}</option>
             {{/each}}
          </select>
        </div>
      </div>

      <div class="form-group" id="relateaccount">
        
      </div>
    </form>
  </div>
</script>
