<script type="text/x-handlebars-template" id="grouppedaccount-related">

    <label for="related-account">Related Accounts</label>
    <div class="panel-body" id="panel_relatedaccount">
      <table class="table table-striped table-bordered table-list">
        <thead>
          <tr>
              <th>Group</th>
              <th>Network</th>
              <th>Accounts</th>
          </tr> 
        </thead>
        <tbody>
        {{#each related}}
          <tr>
            <td>  
              {{#with (lookup2 ../groups social_group) }}
              {{ name }}
              {{/with}}
            </td>
            <td>
               {{social_account_url.bucket}}
            </td>
            <td> 
               {{social_account_url.username}}
            </td>  
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
</script>


        