<script type="text/x-handlebars-template" id="group-template">


<div class="container">
  <form class="form-horizontal">
      <fieldset>
      <legend>Groups</legend>
    <div class="form-group">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <select class="form-control" id="groupFinder">
        {{#each groups}}
          <option value="{{id}}">{{name}}<option>
        {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4" for="name">Name</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4" for="description">Description</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="description"
        placeholder="Descripton">
      </div>
    </div>
    <div class="form-group">
    <label class="col-md-4 control-label" for="Save"></label>
    <div class="col-md-8">
      <button type="button" id="save"
      class="btn btn-primary">Save</button>
      <button type="button" id="delete"
      class="btn btn-danger">Delete</button>
    </div>
    </div>
    </fieldset>
  </form>
</div>
</script>
