<script id="group-finder-template" type="text/x-handlebars-template">
<table class="table">
 <tr>
   <th>Group</th><th>Reshare</th><th>&lt;3</th><th>Select</th>
 </tr>
 <tr id="{{id}}">
   <td>{{name}}</td>
   <td><input type="checkbox" /></td>
   <td><input type="checkbox" /></td>
   <td><input type="checkbox" /></td>
 </tr>
</table>
</script>
