<script type="text/x-handlers-template" id="group-menu-template">

      <ul class="list-group">
      {{#each groups}}
       <li class="list-group-item">{{name}}</li>
      {{/each}}
      </ul>

</script>
