<script id="group-finder-template" type="text/x-handlebars-template">
<div class="col-md-12 table-responsive">
  <table class="table">
  {{#each groups}}
 <td>{{id}}</td>
 <td>{{name}}</td>
 <td><input type="checkbox" /></td>
 <td><input type="checkbox" /></td>
 <td><input type="checkbox" /></td>
 {{/each}}
  </table>
</div>
</script>
