<script type="text/x-handlebars-template" id="grouppedaccounts-related">


<table class="table table-striped table-bordered table-list"
id='table-related'>
    <tbody class="connectedSortable">
      <tr>
        <th>Network</th>
        <th>Accounts</th>
      </tr>
      {{#each groupped}}
      {{#each related}}
      <tr id="{{id}}">
        <td>
        {{social_account_url.bucket}}
        </td>
        <td>
        {{social_account_url.username}}
        </td>
      </tr>
      {{/each}}
      {{/each}}
    </tbody>
  </table>

</script>
