<script type="text/x-handlebars-template" id="group-template">

{{> navigation }}

<div class="col-md-10">
  <h2>Groups</h2>

  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <select class="form-control" id="groupFinder">
        {{#each groups}}
          <option value="{{id}}">{{name}}<option>
        {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4" for="name">Name</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4" for="description">Description</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="description"
        placeholder="Descripton">
      </div>
    </div>
    <div class="col-md-10">
      <button type="button" id="save" class="btn btn-primary btn-md">Add</button>
      <button type="button" id="delete" class="btn btn-danger btn-md">Delete</button>
    </div>
  </form>

</div>
</script>
