<script type="text/x-handlebars-template" id="grouped-accounts-template">

{{> navigation}}

<div class="row"><div class="col-md-10">
  <h2>Grouped accounts</h2>

  <!-- form class="form-horizontal" -->
    <div class="col-md-4">
      <label for="groupFinder">Groups</label>
        <div class="form-group">
          <select class="form-control" id="groupFinder">
          {{#each groups}}
            <option value="{{id}}">{{name}}<option>
          {{/each}}
          </select>
        </div>
      </label>
    </div>

    <div class="col-md-4" id="accounts-list-container"></div>

    <div class="col-md-4" id="grouped-accounts-container"></div>
  <!-- /form -->

</div></div>

</script>
