<script id="group-finder-template" type="text/x-handlebars-template">
<table class="table">
  {{#each groups}}
 <tr>
  <th>id</th><th>Group</th><th>Reshare</th><th>&lt;3</th><th>Select</th>
 </tr>
 <tr>
   <td>{{id}}</td>
   <td>{{name}}</td>
   <td><input type="checkbox" /></td>
   <td><input type="checkbox" /></td>
   <td><input type="checkbox" /></td>
 </tr>
 {{/each}}
</table>
</script>
