<script type="text/x-handlebars-template" id="groupped-account">

{{> navigation }}

<div class="container">
  <form class="form-horizontal">
   <div class="form-group">
     <div class="col-md-4 col-md-offset-9">
      <button type="button" id="save" class="btn btn-primary">New</button>
       <button type="button" id="edit" class="btn btn-primary">Edit</button>
        <button type="button" id="delete" class="btn btn-danger">Delete</button>
     </div>
  </div>
    <div class="form-group">   
       <p>Groups</p>
      <div class="col-md-6 col-md-offset-3">       
        <select class="form-control" id="grouppedAccount"> </select>
      </div>
    </div>

  <div class="form-group">
    <p>Related Accounts</p>
    <div class="col-md-6 col-md-offset-3">
      <div class="panel-body">
        <table class="table table-striped table-bordered table-list">
          <thead>
            <tr>
                <th>Group</th>
                <th>Network</th>
                <th>Accounts</th>
            </tr> 
          </thead>
            <tbody>
            <tr>


            </tr>
            </tbody>
        </table>
      </div>
<!--          <div class="col-md-6 ">
      <div class="panel-body">
        <table class="table table-striped table-bordered table-list">
          <thead>
            <tr>
                <th>Network</th>
                <th>Accounts</th>
            </tr> 
          </thead>
            <tbody>
            <tr>


            </tr>
            </tbody>
        </table>
      </div>
      </div>-->
    
    </div>
</div>
 </form>
</script>