<script id="group-finder-template" type="text/x-handlebars-template">
<table class="table">
 <tr>
   <th>Group</th><th>Reshare</th><th>&lt;3</th><th>Select</th>
 </tr>
 <tr id="{{name}}">
   <td>{{name}}</td>
   <td><input type="checkbox" id="re" value="true" /></td>
   <td><input type="checkbox" id="<3" value="true" /></td>
   <td><input type="checkbox" id="selected" class="selection" value="{{name}}" /></td>
 </tr>
</table>
</script>
