<script id="groupedaccounts-list-template" type="text/x-handlebars-template">

<label for="grouped-select">Grouped accounts</label>
<select  class="form-control" id="grouped-select" multiple="multiple">
{{#each accounts}}
  <option id="{{id}}">{{username}}</option>
{{/each}}
</select>

</script>
