<script type="text/x-handlebars-template" id="landing-template">

    


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Copyright &copy; 2017</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#begin">Inicio</a>
                    </li>
                    <li>
                        <a href="#objectives">Objetivos</a>
                    </li>
                    <!-- li>
                        <a href="#contact">Contacto</a>
                    </li -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="begin"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <img src="img/EligeBienLogo.png" style="width: 300px;">
                        <hr class="intro-divider">
                        <div id="messages"></div>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#"
                                class="btn btn-default btn-lg" role="button"
                                id="landing-login-tw">
                                  <i class="fa fa-twitter fa-fw"></i>
                                  <span class="network-name">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                class="btn btn-default btn-lg" role="button"
                                id="landing-login-fb">
                                  <i class="fa fa-facebook fa-fw"></i>
                                  <span class="network-name">Facebook</span>
                                </a>
                            </li>
                            <!--li>
                                <a href="#landing"
                                class="btn btn-default btn-lg" role="button">
                                  <i class="fa fa-instagram fa-fw"></i>
                                  <span class="network-name">Instagram</span>
                                </a>
                            </li-->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="objectives"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="">
                    <div class="clearfix"></div>
                    <h2 class="">¡Elige!</h2>
                    <p class="lead">Elige Bien es una iniciativa ciudadana en la que fomentamos el voto &uacute;til, libre y razonado. 
                    <hr class="">
                    <div class="clearfix"></div>
                    <h2 class="">¡Participa!</h2>
                    <p class="lead">S&uacute;mate a esta causa ciudadana.
                    <hr class="">
                    <div class="clearfix"></div>
                    <h2 class="">¡Integrate!</h2>
                    <p class="lead">S&eacute; parte de nosotros… 
                    <br>Ayuda a otros a Elegir Bien. 
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/EligeBien_Web.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    

	<a  name="footer"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h1>contacto@eligebien.mx</h1>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#" class="btn btn-default btn-lg" role="button"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg" role="button"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <!-- li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                        </li -->
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <!-- footer-->
        <div >
            <div class="container" style="padding-bottom:15px; margin-botton:15px;">
                <div class="col-lg-12">
                    
                    <p class="copyright text-muted small">Copyright &copy; </p>
                </div>
            </div>
        </div>
    <!--/footer -->

</script>


