<script type="text/x-handlebars-template" id="landing-template">

    <form id="landing-form" class="form-signin">
      <div id="messages"></div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-lg"
        id="landing-login">Click me!</button>
      </div>
    </form>

</script>
