<script type="text/x-handlebars-template" id="login-template">

    <p class="panel-heading">SIGN IN</p>
    <div class="row">
      <div class="col-sm-6" id="social-buttons">
        <h3>Use other accounts</h3>
        <h4>You can also sign in using your Facebook, Twitter or Google accounts.</h4>
        <button type="button" class="btn btn-primary btn-lg">Facebook</button>
        <button type="button" class="btn btn-info btn-lg">Twitter</button>
        <button type="button" class="btn btn-danger btn-lg">Google +</button>
      </div>
      <div class="col-sm-6" >
        <form id="login-form" class="form-signin" action="//127.0.0.1:8000/api-token-auth/">
        <div class="login-group">
          <label for="username" class="sr-only">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="username">

          <label for="password" class="sr-only">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="password">

          <div class="form-group login-group-checkbox">
            <input type="checkbox" id="remember" name="remember">
            <label for="remember">Remember me</label>
          </div>
        </div>
        <button type="button" class="btn btn-md btn-info btn-block" id="login-button">Log In</button>
        <p>Forgot your password? <a href="#">click here</a></p>
        </form>
      </div>
    </div>

</script>
