<script type="text/x-handlebars-template" id="login-template">

    <div class="modal fade" tabindex="-1" role="dialog" id="remember-password">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email"
                placeholder="Email address">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="recover-pass">
            Recover password
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


      <form id="login-form" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div id="messagess"></div>
        <label for="username" class="sr-only">Username</label>
        <input type="email" class="form-control" id="username" name="username"
        placeholder="User name">
        <label for="password" class="sr-only">Password</label>
        <input type="password" class="form-control" id="password"
        name="password" placeholder="Password">
        <div class="checkbox">
          <label for="remember">
            <input type="checkbox" id="remember" name="remember"> Remember me
          </label>
        </div>
        <button type="button" class="btn btn-lg btn-info btn-block"
        id="login-button">Log In</button>
        <p><button type="button" class="btn btn-lg btn-link" id="recover-pass">
          Forgot your password?</button></p>
        <br /><br />
        <button type="button" class="btn btn-primary btn-lg"
        id="fb-login">Facebook</button>
        <button type="button" class="btn btn-info btn-lg"
        id="twitter-login">Twitter</button>
      </form>

</script>
