<script type="x-handlebars-template" id="mediagallery-template">

<div class="list-group">
  {{#each files}}
    <div class="list-group-item">

    </div>
    <div class="list-group-separator"></div>
  {{/each}}
</div>

</script>
