<script type="text/x-handlebars-template" id="navigation-template">

  <div class="navbar-header nav">
    <a class="navbar-brand" href="/">Semitki</a>
  </div>

  <div id="navbar">
    <div id="account-menu"></div>
    <div id="staff-menu"></div>
  </div>

</script>
