<script type="text/x-handlebars-template" id="navigation-template">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar"
      aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#calendar">Semitki</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <button id="toggle-button" type="button"
         class="btn btn-default navbar-btn toggle-button">
         <i class="icon-indent-right"></i>
       </button>

        <ul class="nav navbar-nav navbar-inner">
          <li><a href="#scheduler">
            <button type="button" class="btn btn-link navbar-btn">POST</button>
          </a></li>
          <li><a href="#calendar">
            <button type="button" class="btn btn-link navbar-btn">CALENDAR</button>
          </a></li>
          <li><a href="#stats">
            <button type="button" class="btn btn-link navbar-btn">STATISTICS</button>
          </a></li>
          <li><button type="button" class="btn navbar-btn"
              id="add-post-button">+ ADD POST</button></li>
        </ul>
    </div>

</script>
