<script type="text/x-handlebars-template" id="scheduler-create-template">
{{> navigation}}

  <!-- Create -->
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse"
        href="#scheduler-create-panel">Create</a></h4>
      </div>
      <div id="scheduler-create-panel" class="panel-collapse collapse">
        <div class="row">
          <div class="col-md-4">
            <label for="projects">Project</label>
            <select id="projects">
            {{#each projects}}
              <option value="{{id}}">{{name}}</option>
            {{/each}}
            </select>
          </div>
          <div class="col-md-4">
            <label for="topics">Topic</label>
            <select id="topics">
            {{#each topics}}
              <option value="{{id}}">{{name}}</option>
            {{/each}}
            </select>
          </div>
          <div class="col-md-4">
            <label for="scheduledForPicker">Date and Time</label>
            <div class="input-group date" id="scheduledForPicker">
              <input type="text" id="scheduledFor" class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Posts -->
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse"
        href="#scheduler-post-panel">Posts</a></h4>
      </div>
      <div id="scheduler-post-panel" class="panel-collapse collapse">
        <div class="row">
          <div class="col-md-3">
            <label>Source</label>
            <div class="checkbox">
              <label><input type="checkbox" value="">Original Post</label></div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Already Post</label>
            </div>
            <label> Post ID </label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="scheduler-network-select">Network</label>
              <select multiple class="form-control" id="exampleSelect2">
                <option>Facebook</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="copy">Copy</label>
              <textarea class="form-control" id="copy" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Image</label>
              <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
              <small id="fileHelp" class="form-text text-muted">Add Image</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Trending -->
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse"
        href="#scheduler-trend-panel">Trends</a></h4>
      </div>
      <div id="scheduler-trend-panel" class="panel-collapse collapse">
        <div class="row">
          <label>Actions</label>
          <select class="custom-select">
            <option selected>Group Name Finder</option>
          </select>
        </div>
        <div class="row table table-lg table-bordered">
          <div class="col-md-3">Group</div>
          <div class="col-md-3">Share</div>
          <div class="col-md-3">Like</div>
          <div class="col-md-3">Delete</div>
        </div>
        <div class="row">
          <div class="col-md-3">Option1</div>
          <div class="col-md-3"><input type="checkbox" value=""></div>
          <div class="col-md-3"><input type="checkbox" value=""></div>
          <div class="col-md-3">
            <button type="button" class="btn btn-info btn-md">
            Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
