<script type="text/x-handlebars-template" id="scheduler-template">


  <div class="row">
    <div class="col-md-12" id="messages"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-defaut" data-calendar-nav="prev"
          id="btn-prev"><span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button type="button" class="btn btn-default" data-calendar-view="day"
          id="btn-day">Day</button>
        <button type="button" class="btn btn-default" data-calendar-view="week"
          id="btn-week">Week</button>
        <button type="button" class="btn btn-default" data-calendar-view="month"
          id="btn-month">Month</button>
        <button type="button" class="btn btn-defaut" data-calendar-nav="next"
          id="btn-next"><span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="calendar-panel"></div>
    </div>
  </div>

</script>
