<script type="x-handlebars-template" id="side-menu-template">

  <ul class="nav nav-pills nav-stacked">
    <li><a href="#" class="toggle-button">l 1</a></li>
    <li><a href="#" class="toggle-button">l 1</a></li>
    <li><a href="#" class="toggle-button">l 1</a></li>
    <li><a href="#" class="toggle-button">l 1</a></li>
  </ul>

</script>
