<script type="x-handlebars-template" id="side-menu-template">

  <ul class="nav nav-pills nav-stacked">
    <li>
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
      data-submenu aria-haspopup="true" aria-expanded="false">Social accounts
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
      {{#each groups}}
       <li class="dropdown-submenu"><a tabindex="0">{{name}}</a>
         <ul class="dropdown-menu">
          {{#each related}}
             <li><a tabindex="0" id="{{social_account_url.id}}"
             class="account">{{social_account_url.username}}</a></li>
          {{/each}}
         </ul>
       </li>
      {{/each}}
      </ul>
    </li>

    <li role="separator" class="divider"></li>
    <li>
      <button class="btn btn-default dropdown-toggle" type="button"
      id="user-menu-button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">{{user.email}}<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="user-menu-button">
        <li><button id="settings" type="button"
        class="btn btn-link">Settings</button></li>
        <li><button id="logout" type="button"
        class="btn btn-link">Log out</button></li>
      </ul>
    </li>

    <li role="separator" class="divider"></li>

    <li>
      <button class="btn btn-default dropdown-toggle" type="button"
      id="user-menu-button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">Settings<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="user-menu-button">
        <li><a  href="#campaign" button id="campaigns" type="button" class="btn btn-link" role="button" >Campaigns </a></li>
        <li><a  href="#phases" button id="phases" type="button"     class="btn btn-link">Phases</a></li>
        <li><a  href="#groups" button id="groups" type="button"     class="btn btn-link">Groups</a></li>
        <li><a  href="#user" button id="users" type="button"     class="btn btn-link">Users</a></li> 
      </ul>
    </li>
  </ul>

</script>
