<script type="x-handlebars-template" id="side-menu-template">

  <div class="panel panel-default panel-menu">
    <div class="panel-heading" role="tab" id="headingAccounts">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion"
          href="#collapseAccounts" aria-expanded="true"
          aria-controls="collapseAccounts">
          {{pt "sidemenu.followers"}}
        </a>
      </h4>
    </div>
    <div id="collapseAccounts" class="panel-collapse collapse">
      <div class="panel-body" id="account-menu"></div>
    </div>
  </div>

  <div class="panel panel-default panel-menu">
    <div class="panel-heading" role="tab" id="headingStaff">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion"
          href="#collapseStaff" aria-expanded="true"
          aria-controls="collapseStaff">
          {{pt ""}}
        </a>
      </h4>
    </div>
    <div id="collapseStaff" class="panel-collapse collapse in">
      <div class="panel-body" id="staff-menu"></div>
      <div class="panel-body" id="fb-pages-menu"></div>
    </div>
  </div>


  <div class="panel panel-default panel-menu">
    <div class="panel-heading" role="tab" id="headingSettings">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion"
          href="#collapseSettings" aria-expanded="true"
          aria-controls="collapseSettings">
          Settings
        </a>
      </h4>
    </div>
    <div id="collapseSettings" class="panel-collapse collapse"
      role="tabpanel" aria-labelledby="headingSettings">
      <div class="panel-body">
        <ul class="list-group">
         <li class="list-group-item">
           <a href="#campaign" type="button" class="btn btn-link"
             role="button" id="campaigns">Campaigns</a>
         </li>
         <li class="list-group-item">
           <a href="#phases" type="button" class="btn btn-link"
             role="button" >Phases</a></li>
         <li class="list-group-item">
           <a href="#groups" type="button" class="btn btn-link"
             role="button">Groups</a></li>
         <li class="list-group-item">
           <a href="#grouppedaccounts" type="button" class="btn btn-link"
             role="button">Groups &amp; accounts</a></li>
         <li class="list-group-item">
           <a href="#user" type="button" class="btn btn-link"
             role="button">Users</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default panel-menu">
    <div class="panel-heading" role="tab" id="headingProfile">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion"
          href="#collapseProfile" aria-expanded="true"
          aria-controls="collapseProfile">{{user.username}}
        </a>
      </h4>
    </div>
    <div id="collapseProfile" class="panel-collapse collapse"
      role="tabpanel" aria-labelledby="headingProfile">
      <div class="panel-body">
        <ul class="list-group">
         <li class="list-group-item">
           <a href="#" type="button" class="btn btn-link" id="logout"
             role="button">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>

</script>
