<script id="accounts-list-template" type="text/x-handlebars-template">

<label for="accounts-list">Ungrouped accounts</label>
<select  class="form-control" id="accounts-select" multiple="multiple">
{{#each accounts}}
  <option id="{{id}}">{{username}}</option>
{{/each}}
</select>

</script>
