<script type="text/x-handlebars-template" id="user">

{{> navigation }}

    <div class="container">
	<div class="row">
		<form class="form-horizontal">
<fieldset>

<!-- Name -->
<legend>User</legend>

<!-- Appended Input-->
<!--
<div class="form-group">
  <label class="col-md-4 control-label" for="matricula">Matricula</label>
  <div class="col-md-6">
    <div class="input-group">
      <input id="matricula" name="matricula" class="form-control" placeholder="matricula" type="text" required="">
      <span class="input-group-addon">Pesquisar</span>
    </div>
    <p class="help-block">(digite a sua matricula da SEMEC)</p>
  </div>
</div>
-->
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="fullname">User Name</label>  
  <div class="col-md-6">
  <input id="fullname" name="fullname" type="text" placeholder="User Name" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">E-Mail</label>  
  <div class="col-md-6">
  <input id="email" name="email" type="text" placeholder="E-mail" class="form-control input-md">
    
  </div>
</div>

<!-- FirstName input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstname">First Name</label>
  <div class="col-md-6">
    <input id="firstname" name="firstname" type="text" placeholder="First Name" class="form-control input-md" required="">
<!--    <span class="help-block"></span>-->
  </div>
</div>

<!-- LastName input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastname">Last Name</label>
  <div class="col-md-6">
    <input id="lastname" name="lastname" type="text" placeholder="Last Name" class="form-control input-md" required="">
<!--    <span class="help-block"></span>-->
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="rad">Tipo de Usuario</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="rad-0">
      <input type="radio" name="rad" id="rad-0" value="1" checked="checked">
      Operator
    </label>
    </div>
  <div class="radio">
    <label for="rad-1">
      <input type="radio" name="rad" id="rad-1" value="2">
      Administrator
    </label>
	</div>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Save"></label>
  <div class="col-md-8">
    <button id="Save" name="Save" class="btn btn-primary">Save</button>
    <button id="delete" name="delete" class="btn btn-danger">Delete</button>
  </div>
</div>

</fieldset>
</form>

	</div>
</div>

</script>