<script type="text/x-handlebars-template" id="user-template">

{{> navigation }}

<div class="container">
  <form class="form-horizontal">
    <fieldset>

  <legend>User</legend>

  <div class="form-group">
    <span class="col-md-4"></span> <!-- Damn ugly hack, why in the hell there is not a master layout? -->
    <div class="col-md-6">
      <select class="form-control" id="userFinder">
        {{#each users}}
        <option value="{{id}}">{{username}}</option>
        {{/each}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="username">User name</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="username">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="email">E-mail</label>
    <div class="col-md-6">
      <input id="email" type="text" placeholder="mail@example.com"
      class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="fname">First name</label>
    <div class="col-md-6">
      <input id="fname" type="text" placeholder="Name"
      class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="lname">Last name</label>
    <div class="col-md-6">
      <input id="lname" type="text" placeholder="Last Name"
      class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="rad">Tipo de usuario</label>
    <div class="col-md-4">
      <div class="radio">
        <label class="radio-inline"><input type="radio" id="oper"
        value="False">Operator</label>
        <label class="radio-inline"><input type="radio" id="staff"
        value="true">Administrator</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="Save"></label>
    <div class="col-md-8">
      <button type="button" id="save"
      class="btn btn-primary">Save</button>
      <button type="button" id="delete"
      class="btn btn-danger">Delete</button>
    </div>
  </div>

   </fieldset>
  </form>
</div>
</script>
